name: CI Pipeline

on: 
  push: 
    branches:
      - main

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      
      - name: 1. Checkout Code
        uses: actions/checkout@v3 

      - name: 2. Setup Node.js (v18)
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: 3. Lint & Test
        run : |
          npm install
          npm run lint
          npm test

      - name: 4. Security Scan (Sonar)
        uses: sonarsource/sonarqube-scan-action@v3
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io

      - name: 5. Build and Push Docker Image
        if: success()
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASS: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
          docker build -t salahdevops/voting-app:latest .
          docker push salahdevops/voting-app:latest